<form method="post" action="{{ path('app_delete_quizz', {'id': quizz.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quizz.id) }}">
    <button class="btn">Supprimer ce Quizz</button>
</form>